﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HỆ THỐNG QUẢN LÝ VinCity</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="icon" type="image/x-icon" href="~/Images/icon_carrier.png">

    @RenderSection("scripts", required: false)
    <script src="~/assets/js/jquery-1.10.0.min.js"></script>
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/scripts/toastr.js"></script>
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/font-awesome/4.2.0/css/font-awesome.min.css" />

    <!-- page specific plugin styles -->
    <!-- text fonts -->
    <link rel="stylesheet" href="~/assets/fonts/fonts.googleapis.com.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="~/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="~/assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
    <![endif]-->
    <!--[if lte IE 9]>
      <link rel="stylesheet" href="~/assets/css/ace-ie.min.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="~/assets/js/ace-extra.min.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
    <script src="~/assets/js/html5shiv.min.js"></script>
    <script src="~/assets/js/respond.min.js"></script>
    <![endif]-->
    @RenderSection("HeaderScript", required: false)
    <title>@ViewBag.Title</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114665599-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-114665599-1');
    </script>
</head>
<body class="no-skin">
    <div id="navbar" class="navbar navbar-default">
        <script type="text/javascript">
            try { ace.settings.check('navbar', 'fixed') } catch (e) { }
        </script>
        <div class="navbar-container" id="navbar-container">
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler"
                    data-target="#sidebar">
                <span class="sr-only">Toggle sidebar</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-header pull-left">
                <a href="@Url.Action("Index","HomeBackend")" class="navbar-brand">
                    <small>
                        <img src="~/Images/icon_carrier.png" width="30px" height="30px" />
                        HỆ THỐNG QUẢN LÝ VÀ KHỚP LỆNH CARRIER <span style="font-size: small">version 1.0</span>
                    </small>
                </a>
                <p></p>
            </div>
            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <ul class="nav ace-nav">
                            <li class="grey" id="divMessageAccountNew">
                            </li>
                            <li class="purple" id="divMessageOrderTrackingNew">
                            </li>
                            <li class="light-blue">
                                <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                                    <img class="nav-user-photo" src="~/assets/avatars/user.jpg" alt="@User.Identity.Name" />
                                    <span class="user-info">
                                        <small>Xin chào ,</small>
                                        @User.Identity.Name
                                    </span>

                                    <i class="ace-icon fa fa-caret-down"></i>
                                </a>
                                <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                                    <li>
                                        @*<a href="@Url.Action("Index", "Manage")">*@
                                        <a href="../Yourprofile/Index">
                                            <i class="ace-icon fa fa-user logout-btn"></i>
                                            Tài khoản
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        @*<a href="javascript:document.getElementById('logoutForm').submit()">*@
                                        <a href="/Account/Logoff">
                                            <i class="ace-icon fa fa-power-off"></i>
                                            Đăng xuất
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    }
                }
            </div>
        </div>
    </div>
    <!-- /.navbar-container -->
    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try { ace.settings.check('main-container', 'fixed') } catch (e) { }
        </script>
        <div id="sidebar" class="sidebar                  responsive">
            <script type="text/javascript">
                try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
            </script>
            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    <h4 style="color: #4c8fbd">
                        Danh mục
                    </h4>
                </div>
                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                </div>
            </div>
            <!-- /.sidebar-shortcuts -->
            <ul class='nav nav-list' id='main_menu'>
                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-desktop"></i>
                        <span class="menu-text">
                            Quản lý CMS
                        </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li class="" id="Categories">
                            <a href='@Url.Action("Index", "Categories")' class="dropdown-toggle">
                                <i class='menu-icon fa fa-desktop'></i>
                                <span class='menu-text'>
                                    Quản lý chuyên mục
                                </span>
                                <b class="arrow fa fa-angle-down"></b>
                            </a>
                            <b class="arrow"></b>
                            <ul class="submenu">
                                <li class="" id="Categories">
                                    <a href="@Url.Action("Index","Categories")">
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        Danh sách chuyên mục
                                    </a>
                                </li>
                                <li class="" id="Categories_Create">
                                    <a href='@Url.Action("Create","Categories")'>
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        Thêm mới chuyên mục
                                    </a>

                                    <b class="arrow"></b>
                                </li>
                            </ul>
                        </li>

                        <li class='' id='Articles'>
                            <a href='@Url.Action("Index", "Articles")' class="dropdown-toggle">
                                <i class='menu-icon fa fa-desktop'></i>
                                <span class='menu-text'>
                                    Quản lý tin bài
                                </span>
                                <b class="arrow fa fa-angle-down"></b>
                            </a>
                            <b class="arrow"></b>
                            <ul class="submenu">
                                <li class="" id='Articles'>
                                    <a href="@Url.Action("Index","Articles")">
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        Danh sách bài viết
                                    </a>
                                </li>
                                <li class="" id='Articles_Create'>
                                    <a href='@Url.Action("Create","Articles")'>
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        Thêm mới bài viết
                                    </a>
                                    <b class="arrow"></b>
                                </li>
                            </ul>
                        </li>

                        <li class='' id='HtmlContents'>
                            <a href='@Url.Action("Index", "HtmlContents")' class="dropdown-toggle">
                                <i class='menu-icon fa fa-desktop'></i>
                                <span class='menu-text'>
                                    Quản lý Html
                                </span>
                                <b class="arrow fa fa-angle-down"></b>
                            </a>
                            <b class="arrow"></b>
                            <ul class="submenu">
                                <li class="" id='HtmlContents'>
                                    <a href="@Url.Action("Index","HtmlContents")">
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        Danh sách trang
                                    </a>
                                </li>
                                <li class="" id='HtmlContents_Create'>
                                    <a href='@Url.Action("Create","HtmlContents")'>
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        Thêm trang mới
                                    </a>
                                    <b class="arrow"></b>
                                </li>
                            </ul>
                        </li>
                    </ul>


                </li>
            </ul>

            <!-- /.nav-list -->
            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left"
                   data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>

            <script type="text/javascript">
                try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
            </script>
        </div>

        <div class="main-content">
            <div class="main-content-inner">
                <div class="breadcrumbs" id="breadcrumbs">
                    <script type="text/javascript">
                        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
                    </script>
                    @RenderSection("BreadCrumb", required: false)
                    <!-- /.nav-search -->
                </div>
                <div class="page-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            @RenderBody()
                        </div>
                        <!-- PAGE CONTENT ENDS -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.page-content -->
        </div>
        <div class="footer">
            <div class="footer-inner">
                <div class="footer-content">
                    <span class="bigger-120">
                        <span class="blue bolder">HỆ THỐNG QUẢN LÝ VÀ KHỚP LỆNH CARRIER</span>
                        SOFTWARE &copy; Copyright @Html.Raw("@")2016 by Carrier Technology
                    </span>
                    &nbsp; &nbsp;
                    <span class="action-buttons">
                        <a href="#">
                            <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                        </a>
                        <a href="#">
                            <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                        </a>
                        <a href="#">
                            <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div>
    <!-- /.main-content -->
    <!-- basic scripts -->
    <!--[if !IE]> -->
    @*<script src="~/assets/js/jquery.2.1.1.min.js"></script>*@
    <!-- <![endif]-->
    <!--[if IE]>
    <script src="~/assets/js/jquery.1.11.1.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>

    <![endif]-->
    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='~/assets/js/jquery.min.js'>" + "<" + "/script>");
    </script>

    <!-- <![endif]-->
    <!--[if IE]>
    <script type="text/javascript">
     window.jQuery || document.write("<script src='~/assets/js/jquery1x.min.js'>"+"<"+"/script>");
    </script>
    <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='~/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="~/assets/js/bootstrap.min.js"></script>

    <!-- page specific plugin scripts -->
    <!--[if lte IE 8]>
      <script src="~/assets/js/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/assets/js/jquery-ui.custom.min.js"></script>
    <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/assets/js/jquery.easypiechart.min.js"></script>
    <script src="~/assets/js/jquery.sparkline.min.js"></script>
    <script src="~/assets/js/jquery.flot.min.js"></script>
    <script src="~/assets/js/jquery.flot.pie.min.js"></script>
    <script src="~/assets/js/jquery.flot.resize.min.js"></script>
    @*<script src="~/assets/js/jquery-ui.custom.min.js"></script>*@
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/assets/js/chosen.jquery.min.js"></script>
    <script src="~/assets/js/fuelux.spinner.min.js"></script>

    <!-- ace scripts -->
    <script src="~/assets/js/ace.min.js"></script>
    <script src="~/assets/js/ace-elements.min.js"></script>

    <!-- ace scripts -->
    <!-- page specific plugin scripts pageing sorting -->
    <script src="~/assets/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/dataTables.tableTools.min.js"></script>
    <script src="~/assets/js/dataTables.colVis.min.js"></script>
    <script src="~/assets/js/jquery.dataTables.bootstrap.min.js"></script>
    <script src="~/assets/js/dropzone.min.js"></script>

    <script src="~/assets/js/bootstrap-wysiwyg.min.js"></script>
    <script src="~/assets/js/jquery.hotkeys.min.js"></script>

    <style>
        .modal-content {
            width: 600px !important;
            margin: 30px auto !important;
        }
    </style>
    <div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" style="width: 650px;">
            </div>
        </div>
    </div>
    @*<div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-content">
            </div>
        </div>*@

    <script type="text/javascript">
        $(function () {
            // Initialize numeric spinner input boxes
            //$(".numeric-spinner").spinedit();

            // Initalize modal dialog
            // attach modal-container bootstrap attributes to links with .modal-link class.
            // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                //$(this).attr('data-target', '#modal-container');
                $(this).attr('data-toggle', 'modal');
                var target = $(this).attr("href");

                // load the url and show modal on success
                $("#modal-container .modal-content").load(target, function () {
                    $("#modal-container").modal("show");
                });

            });

            // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
            $('body').on('click', '.modal-close-btn', function () {
                $('#modal-container').modal('hide');
            });

            //clear modal cache, so that new content can be loaded
            $('#modal-container').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });

            $('#CancelModal').on('click', function () {
                return false;
            });
        });
    </script>

    @*Thông báo*@
    @*<script src="~/Scripts/jquery-3.1.1.min.js"></script>*@
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            // Create a proxy to signalr hub on web server. It reference the hub.
            var notifications = $.connection.notificationHub;

            // Notify to client with the recent updates from hub that broadcast messages.
            notifications.client.updateMessagesAccount = function (serverResponse) {
                getaccountmessage();
            };

            notifications.client.updateMessagesOrderTracking = function (serverResponse) {
                getordertrackingmesssage();
            };

            // Connect to signalr hub
            $.connection.hub.start().done(function () {
                console.log('Now connected hub notification success ');
                getaccountmessage();
                getordertrackingmesssage();
            }).fail(function (error) {
                console.log('lỗi connect hub: ' + error);
            });
        });

        function getaccountmessage() {
            var model = $('#divMessageAccountNew');
            $.ajax({
                url: '@Url.Action("GetMessageAccount", "HomeBackend")',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    model.empty().html(result);
                },
                error: function (error) {
                    console.log('lỗi lấy account: ' + error);
                }
            });
        }

        function getordertrackingmesssage() {
            var model = $('#divMessageOrderTrackingNew');
            $.ajax({
                url: '@Url.Action("GetMessageOrderTracking", "HomeBackend")',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    model.empty().html(result);
                },
                error: function (error) {
                    console.log('lỗi lấy ơrder: ' + error.responseText);
                }
            });
        }

    </script>
    @*Thông báo*@

    <script type="text/javascript">
        $(document).ready(function () {
            var strURLPath = window.location.pathname;
            var parts = strURLPath.split('/');
            var activeId = parts.pop() || parts.pop();
            if (activeId == 'BaoCaoDoanhThuDoanhNghiep' || activeId == 'BaoCaoDoanhThuTaiXe' || activeId == 'ThongKeCuocVanChuyenTaiXe' || activeId == 'BaoCaoDoanhThuAd') {
                $('#main_menu li .active').removeClass('active');
                $('#main_menu li#' + activeId).addClass('active');
                $('#main_menu li#' + activeId).parents('li').addClass('active open')
            } else
                if (activeId == 'EDriverCar' || activeId == 'ERevenue') {
                    $('#main_menu li#' + activeId).addClass('active');
                    $('#main_menu li#' + activeId).parents('li').addClass('active open')
                }
                else if (activeId == 'Create') {
                    activeId = parts[2] + '_' + activeId;
                    $('#main_menu li#' + activeId).addClass('active');
                    $('#main_menu li#' + activeId).parents('li').addClass('active open')
                }
                else {
                    $('#main_menu li#' + activeId).addClass('active');
                    $('#main_menu li#' + activeId).parents('li').addClass('active open')
                }
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            if ('@TempData["message"]') {
                toastr.success('@TempData["message"]');
            }
            else if ('@TempData["info"]') {
                toastr.info('@TempData["info"]');
            }
            else if ('@TempData["error"]') {
                toastr.error('@TempData["error"]');
            }
            else { }
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.logout-btn').click(function () {
                if ($('.user-menu').is(":visible") == true) {
                    $('.user-menu').hide();
                } else {
                    $('.user-menu').show();
                }
            });
        });
    </script>
    @RenderSection("ScriptsBottom", required: false)
</body>
</html>
