﻿<!DOCTYPE html>
<!-- saved from url=(0056)https://ibatdongsan.co/vincity-athena-gia-lam-19235.html -->
<html lang="vi" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" async="" src="~/Content/Vin/analytics.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-68644501-6');</script>
    <title>Dự án chung cư Vincity Athena Gia Lâm - Bảng giá gốc từ chủ đầu tư</title>
    <script type="text/javascript" id="wpuf-language-script">
        var error_str_obj = {
            'required': 'is required',
            'mismatch': 'does not match',
            'validation': 'is not valid'
        }</script>
    <meta name="description" content="Dự án chung cư Vincity Athena Gia Lâm là 1 siêu phẩm bất động sản đang thu hút được sự quan tâm đặc biệt của khách hàng cũng như những nhà đầu tư...">
    <meta name="keywords" content="Vincity Athena Gia Lâm, Dự án Vincity Athena Gia Lâm, Chung cư Vincity Athena Gia Lâm, Căn hộ Vincity Athena Gia Lâm, Bán Vincity Athena Gia Lâm, Mua Vincity Athena Gia Lâm, Thông tin Vincity Athena Gia Lâm, Mở bán Vincity Athena Gia Lâm, Giá Vincity Athena Gia Lâm, Bảng giá Vincity Athena Gia Lâm, Thiết kế Vincity Athena Gia Lâm, Mặt bằng Vincity Athena Gia Lâm, Vị trí Vincity Athena Gia Lâm, Mua chung cư Vincity Athena Gia Lâm, Mua căn hộ Vincity Athena Gia Lâm, Vincity Athena Gia Lâm ở đâu, Vincity Athena Gia Lâm khi nào mở bán, Vincity Athena, Dự án Vincity Athena, Chung cư Vincity Athena, Căn hộ Vincity Athena, Mua căn hộ Vincity Athena, Bán căn hộ Vincity Athena, Mua chung cư Vincity Athena, Bán chung cư Vincity Athena, Vincity Gia Lâm, Dự án Vincity Gia Lâm, Chung cư Vincity Gia Lâm, Căn hộ Vincity Gia Lâm, Mua chung cư Vincity Gia Lâm, Mở bán Vincity Gia Lâm, Bán chung cư Vincity Gia Lâm">
    <link rel="canonical" href="https://ibatdongsan.co/vincity-athena-gia-lam-19235.html">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Dự án chung cư Vincity Athena Gia Lâm - Bảng giá gốc từ chủ đầu tư">
    <meta property="og:description" content="Dự án chung cư Vincity Athena Gia Lâm là 1 siêu phẩm bất động sản đang thu hút được sự quan tâm đặc biệt của khách hàng cũng như những nhà đầu tư...">
    <meta property="og:url" content="https://ibatdongsan.co/vincity-athena-gia-lam-19235.html">
    <meta property="og:site_name" content="iBATDONGSAN">
    <meta property="article:publisher" content="https://www.facebook.com/ibatdongsan.co/">
    <meta property="article:author" content="https://www.facebook.com/ibatdongsan.co/">
    <meta property="article:tag" content="Bán căn hộ Vincity Athena">
    <meta property="article:tag" content="Bán chung cư Vincity Athena">
    <meta property="article:tag" content="Bán Chung Cư Vincity Gia Lâm">
    <meta property="article:tag" content="Bán Vincity Athena Gia Lâm">
    <meta property="article:tag" content="Bảng giá Vincity Athena Gia Lâm">
    <meta property="article:tag" content="Bảng giá Vincity Gia Lâm">
    <meta property="article:tag" content="Căn hộ Vincity Athena">
    <meta property="article:tag" content="Căn hộ Vincity Athena Gia Lâm">
    <meta property="article:tag" content="Căn Hộ Vincity Gia Lâm">
    <meta property="article:tag" content="Chung cư Vincity Athena">
    <meta property="article:tag" content="Chung cư Vincity Athena Gia Lâm">
    <meta property="article:tag" content="Chung Cư Vincity Gia Lâm">
    <meta property="article:tag" content="Dự án Vincity Athena">
    <meta property="article:tag" content="Dự án Vincity Athena Gia Lâm">
    <meta property="article:tag" content="Dự Án Vincity Gia Lâm">
    <meta property="article:tag" content="Giá Vincity Athena Gia Lâm">
    <meta property="article:tag" content="Giá Vincity Gia Lâm">
    <meta property="article:tag" content="Mặt bằng Vincity Athena Gia Lâm">
    <meta property="article:tag" content="Mở bán Vincity Athena Gia Lâm">
    <meta property="article:tag" content="Mở Bán Vincity Gia Lâm">
    <meta property="article:tag" content="Mua căn hộ Vincity Athena">
    <meta property="article:tag" content="Mua căn hộ Vincity Athena Gia Lâm">
    <meta property="article:tag" content="Mua chung cư Vincity Athena">
    <meta property="article:tag" content="Mua chung cư Vincity Athena Gia Lâm">
    <meta property="article:tag" content="Mua Chung Cư Vincity Gia Lâm">
    <meta property="article:tag" content="Mua Vincity Athena Gia Lâm">
    <meta property="article:tag" content="Thiết kế Vincity Athena Gia Lâm">
    <meta property="article:tag" content="Thông tin Vincity Athena Gia Lâm">
    <meta property="article:tag" content="Vị trí Vincity Athena Gia Lâm">
    <meta property="article:tag" content="Vị trí Vincity Gia Lâm">
    <meta property="article:tag" content="Vincity Athena">
    <meta property="article:tag" content="Vincity Athena Gia Lâm">
    <meta property="article:tag" content="Vincity Athena Gia Lâm khi nào mở bán">
    <meta property="article:tag" content="Vincity Athena Gia Lâm ở đâu">
    <meta property="article:tag" content="Vincity Gia Lâm">
    <meta property="article:section" content="Dự Án">
    <meta property="article:published_time" content="2018-06-24T06:48:04+00:00">
    <meta property="article:modified_time" content="2018-06-24T10:55:14+00:00">
    <meta property="og:updated_time" content="2018-06-24T10:55:14+00:00">
    <meta property="fb:app_id" content="139197413461801">
    <meta property="og:image" content="https://ibatdongsan.co/wp-content/uploads/2018/06/vincity-athena-gia-lam.jpg">
    <meta property="og:image:secure_url" content="https://ibatdongsan.co/wp-content/uploads/2018/06/vincity-athena-gia-lam.jpg">
    <meta property="og:image:width" content="900">
    <meta property="og:image:height" content="600">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="Dự án chung cư Vincity Athena Gia Lâm là 1 siêu phẩm bất động sản đang thu hút được sự quan tâm đặc biệt của khách hàng cũng như những nhà đầu tư...">
    <meta name="twitter:title" content="Dự án chung cư Vincity Athena Gia Lâm - Bảng giá gốc từ chủ đầu tư">
    <meta name="twitter:image" content="https://ibatdongsan.co/wp-content/uploads/2018/06/vincity-athena-gia-lam.jpg">
    <link rel="dns-prefetch" href="https://s.w.org/">
    <link rel="alternate" type="application/rss+xml" title="Dòng thông tin iBATDONGSAN »" href="https://ibatdongsan.co/feed">
    <link rel="alternate" type="application/rss+xml" title="Dòng phản hồi iBATDONGSAN »" href="https://ibatdongsan.co/comments/feed">
    <style type="text/css">

        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel="stylesheet" id="yarppWidgetCss-css" href="~/Content/Vin/widget.css" type="text/css" media="all">
    <link rel="stylesheet" id="astra-theme-css-css" href="~/Content/Vin/style.min.css" type="text/css" media="all">

    <link rel="stylesheet" id="element-pack-site-css" href="~/Content/Vin/element-pack-site.css" type="text/css" media="all">
    <link rel="stylesheet" id="elementor-icons-css" href="~/Content/Vin/elementor-icons.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="font-awesome-css" href="~/Content/Vin/font-awesome.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="elementor-animations-css" href="~/Content/Vin/animations.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="elementor-frontend-css" href="~/Content/Vin/frontend.min.css" type="text/css" media="all">

    <link rel="stylesheet" id="elementor-pro-css" href="~/Content/Vin/frontend.min(1).css" type="text/css" media="all">
    <link rel="stylesheet" id="uael-frontend-css" href="~/Content/Vin/uael-frontend.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="elementor-global-css" href="~/Content/Vin/global.css" type="text/css" media="all">
    <link rel="stylesheet" id="elementor-post-19235-css" href="~/Content/Vin/post-19235.css" type="text/css" media="all">
    <link rel="stylesheet" id="elementor-post-14799-css" href="~/Content/Vin/post-14799.css" type="text/css" media="all">
    <link rel="stylesheet" id="elementor-post-14121-css" href="~/Content/Vin/post-14121.css" type="text/css" media="all">
    <link rel="stylesheet" id="elementor-post-14097-css" href="~/Content/Vin/post-14097.css" type="text/css" media="all">
    <link rel="stylesheet" id="elementor-post-13988-css" href="~/Content/Vin/post-13988.css" type="text/css" media="all">
    <link rel="stylesheet" id="elementor-post-13981-css" href="~/Content/Vin/post-13981.css" type="text/css" media="all">
    <link rel="stylesheet" id="uab-frontend-style-css" href="~/Content/Vin/frontend.css" type="text/css" media="all">
    <link rel="stylesheet" id="uab-frontend-responsive-style-css" href="~/Content/Vin/uab-responsive.css" type="text/css" media="all">
    <link rel="stylesheet" id="dashicons-css" href="~/Content/Vin/dashicons.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="wp-schema-pro-fontend-style-css" href="~/Content/Vin/frontend(1).css" type="text/css" media="all">
    <link rel="stylesheet" id="wpuf-css-css" href="~/Content/Vin/frontend-forms.css" type="text/css" media="all">
    <link rel="stylesheet" id="jquery-ui-css" href="~/Content/Vin/jquery-ui-1.9.1.custom.css" type="text/css" media="all">
    <link rel="stylesheet" id="astra-addon-css-css" href="~/Content/Vin/astra-addon-5b21f0f2d7ae89-65471136.css" type="text/css" media="all">

    <link rel="stylesheet" id="cherry-handler-css-css" href="~/Content/Vin/cherry-handler-styles.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="jet-elements-css" href="~/Content/Vin/jet-elements.css" type="text/css" media="all">
    <link rel="stylesheet" id="jet-elements-skin-css" href="~/Content/Vin/jet-elements-skin.css" type="text/css" media="all">
    <link rel="stylesheet" id="jet-slider-pro-css-css" href="~/Content/Vin/slider-pro.min.css" type="text/css" media="all">
    <link rel="stylesheet" id="jet-juxtapose-css-css" href="~/Content/Vin/juxtapose.css" type="text/css" media="all">
    <link rel="stylesheet" id="jet-blocks-css" href="~/Content/Vin/jet-blocks.css" type="text/css" media="all">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <script type="text/javascript">
        /* <![CDATA[ */
        var uael = { "ajax_url": "https:\/\/ibatdongsan.co\/wp-admin\/admin-ajax.php" };
        /* ]]> */</script>
    <script type="text/javascript" src="~/Content/Vin/jquery.js"></script>
    <script type="text/javascript" src="~/Content/Vin/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="~/Content/Vin/frontend.js"></script>
    <script type="text/javascript" src="~/Content/Vin/core.min.js"></script>
    <script type="text/javascript" src="~/Content/Vin/datepicker.min.js"></script>
    @*<script type="text/javascript">jQuery(document).ready(function (jQuery) { jQuery.datepicker.setDefaults({ "closeText": "\u0110\u00f3ng", "currentText": "H\u00f4m nay", "monthNames": ["Th\u00e1ng M\u1ed9t", "Th\u00e1ng Hai", "Th\u00e1ng Ba", "Th\u00e1ng T\u01b0", "Th\u00e1ng N\u0103m", "Th\u00e1ng S\u00e1u", "Th\u00e1ng B\u1ea3y", "Th\u00e1ng T\u00e1m", "Th\u00e1ng Ch\u00edn", "Th\u00e1ng M\u01b0\u1eddi", "Th\u00e1ng M\u01b0\u1eddi M\u1ed9t", "Th\u00e1ng M\u01b0\u1eddi Hai"], "monthNamesShort": ["Th1", "Th2", "Th3", "Th4", "Th5", "Th6", "Th7", "Th8", "Th9", "Th10", "Th11", "Th12"], "nextText": "Ti\u1ebfp theo", "prevText": "Quay v\u1ec1", "dayNames": ["Ch\u1ee7 Nh\u1eadt", "Th\u1ee9 Hai", "Th\u1ee9 Ba", "Th\u1ee9 T\u01b0", "Th\u1ee9 N\u0103m", "Th\u1ee9 S\u00e1u", "Th\u1ee9 B\u1ea3y"], "dayNamesShort": ["CN", "T2", "T3", "T4", "T5", "T6", "T7"], "dayNamesMin": ["C", "H", "B", "T", "N", "S", "B"], "dateFormat": "d MM, yy", "firstDay": 1, "isRTL": false }); });</script>*@
    <script type="text/javascript" src="~/Content/Vin/moxie.min.js"></script>
    <script type="text/javascript" src="~/Content/Vin/plupload.min.js"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var pluploadL10n = { "queue_limit_exceeded": "B\u1ea1n cho qu\u00e1 nhi\u1ec1u t\u1eadp tin v\u00e0o danh s\u00e1ch.", "file_exceeds_size_limit": "T\u1eadp tin %s c\u00f3 dung l\u01b0\u1ee3ng v\u01b0\u1ee3t qu\u00e1 m\u1ee9c t\u1ed1i \u0111a \u0111\u01b0\u1ee3c ph\u00e9p t\u1ea3i l\u00ean.", "zero_byte_file": "T\u1eadp tin r\u1ed7ng. H\u00e3y th\u1eed l\u1ea1i t\u1eadp tin kh\u00e1c.", "invalid_filetype": "R\u1ea5t ti\u1ebfc, \u0111\u1ecbnh d\u1ea1ng t\u1eadp tin n\u00e0y kh\u00f4ng \u0111\u01b0\u1ee3c cho ph\u00e9p v\u00ec l\u00fd do b\u1ea3o m\u1eadt.", "not_an_image": "T\u1eadp tin n\u00e0y kh\u00f4ng ph\u1ea3i l\u00e0 h\u00ecnh \u1ea3nh. H\u00e3y th\u1eed t\u1eadp tin kh\u00e1c.", "image_memory_exceeded": "Kh\u00f4ng \u0111\u1ee7 b\u1ed9 nh\u1edb. Vui l\u00f2ng th\u1eed t\u1eadp tin kh\u00e1c nh\u1eb9 h\u01a1n.", "image_dimensions_exceeded": "T\u1eadp tin n\u00e0y l\u1edbn h\u01a1n dung l\u01b0\u1ee3ng t\u1ed1i \u0111a cho ph\u00e9p. H\u00e3y th\u1eed t\u1eadp tin kh\u00e1c.", "default_error": "L\u1ed7i khi t\u1ea3i l\u00ean. H\u00e3y th\u1eed l\u1ea1i sau.", "missing_upload_url": "L\u1ed7i c\u00e0i \u0111\u1eb7t. H\u00e3y li\u00ean h\u1ec7 v\u1edbi qu\u1ea3n l\u00fd c\u1ee7a m\u00e1y ch\u1ee7.", "upload_limit_exceeded": "B\u1ea1n ch\u1ec9 \u0111\u01b0\u1ee3c t\u1ea3i m\u1ed9t t\u1eadp tin l\u00ean.", "http_error": "L\u1ed7i HTTP.", "upload_failed": "T\u1ea3i l\u00ean kh\u00f4ng th\u00e0nh c\u00f4ng.", "big_upload_failed": "Xin vui l\u00f2ng th\u1eed t\u1ea3i l\u00ean t\u1eadp tin n\u00e0y v\u1edbi %1$sbrowser uploader%2$s.", "big_upload_queued": "%s v\u01b0\u1ee3t qu\u00e1 k\u00edch th\u01b0\u1edbc t\u1ea3i l\u00ean t\u1ed1i \u0111a trong ch\u01b0\u01a1ng tr\u00ecnh T\u1ea3i l\u00ean b\u1eb1ng tr\u00ecnh duy\u1ec7t c\u1ee7a b\u1ea1n", "io_error": "L\u1ed7i IO.", "security_error": "L\u1ed7i b\u1ea3o m\u1eadt.", "file_cancelled": "T\u1eadp tin b\u1ecb h\u1ee7y b\u1ecf.", "upload_stopped": "T\u1ea3i l\u00ean b\u1ecb d\u1eebng.", "dismiss": "H\u1ee7y", "crunching": "\u0110ang x\u1eed l\u00fd\u2026", "deleted": "\u0111\u00e3 b\u1ecb b\u1ecf v\u00e0o th\u00f9ng r\u00e1c.", "error_uploading": "\u201c%s\u201d kh\u00f4ng th\u1ec3 t\u1ea3i l\u00ean." };
        /* ]]> */</script>
    <script type="text/javascript" src="~/Content/Vin/handlers.min.js"></script>
    <script type="text/javascript" src="~/Content/Vin/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var wpuf_frontend_upload = { "confirmMsg": "Are you sure?", "nonce": "0c16e14f09", "ajaxurl": "https:\/\/ibatdongsan.co\/wp-admin\/admin-ajax.php", "plupload": { "url": "https:\/\/ibatdongsan.co\/wp-admin\/admin-ajax.php?nonce=e38ea8c79b", "flash_swf_url": "https:\/\/ibatdongsan.co\/wp-includes\/js\/plupload\/plupload.flash.swf", "filters": [{ "title": "Allowed Files", "extensions": "*" }], "multipart": true, "urlstream_upload": true, "warning": "Maximum number of files reached!", "size_error": "The file you have uploaded exceeds the file size limit. Please try again.", "type_error": "You have uploaded an incorrect file type. Please try again." } };
        /* ]]> */</script>
    <script type="text/javascript" src="~/Content/Vin/upload.js"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var wpuf_frontend = { "ajaxurl": "https:\/\/ibatdongsan.co\/wp-admin\/admin-ajax.php", "error_message": "Please fix the errors to proceed", "nonce": "0c16e14f09", "word_limit": "Word limit reached" };
        /* ]]> */</script>
    <script type="text/javascript" src="~/Content/Vin/frontend-form.min.js"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var ajax_object = { "ajaxurl": "https:\/\/ibatdongsan.co\/wp-admin\/admin-ajax.php", "fill_notice": "Some Required Fields are not filled!" };
        /* ]]> */</script>
    <script type="text/javascript" src="~/Content/Vin/billing-address.js"></script>
    <script type="text/javascript" src="~/Content/Vin/particles.min.js"></script>

    <style>
    </style>
    <link rel="icon" href="https://ibatdongsan.co/wp-content/uploads/2018/06/fav-ibds.png" sizes="32x32">
    <link rel="icon" href="https://ibatdongsan.co/wp-content/uploads/2018/06/fav-ibds.png" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="https://ibatdongsan.co/wp-content/uploads/2018/06/fav-ibds.png">
    <meta name="msapplication-TileImage" content="https://ibatdongsan.co/wp-content/uploads/2018/06/fav-ibds.png">
    <style type="text/css" id="wp-custom-css">
        .single .post-navigation .nav-links {
            display: none;
        }

        blockquote {
            margin: 20px;
            padding: 1.2em;
            font-size: 14px;
            background-color: #c2ddf5;
            border: 1px solid #000;
            border-color: #00000061 !important;
        }

        .uab-template-1 .uab-tab-content {
            padding: 5px 5px 5px 5px;
            text-align: justify;
            box-shadow: 0px 20px 150px #d6dee4;
            border-top: 2px dotted #065799;
        }

        .uab-abw-wrapper img.avatar, .uap-profile-image img.avatar, .uab-author-slider img.avatar, .uab-author-side-grid img.avatar, .uab-author-full-grid img.avatar, .uab-author-list-wrapper img.avatar {
            border-radius: 100px !important;
            margin-top: 35px;
        }

        .uab-template-1 .uab-display-name a {
            margin-right: 20px;
            font-family: ibatdongsan-AVO;
            font-size: 20px;
        }

        .uab-template-1 .uab-short-contact .uab-user-website a, .uab-template-1 .uab-user-email a, .uab-template-1 .uab-user-phone a {
            font-family: ibatdongsan-AVO !important;
            color: #f70d0d !important;
            font-size: 16px;
            font-weight: 600 !important;
            display: inline-block;
        }

        .uab-template-1 .uab-short-info {
            color: #000;
            font-family: ibatdongsan-he;
            padding-right: 15px;
        }

        .uab-template-1 .uab-display-name span.uab-user-role, .uab-template-1 .uab-social-icons > span {
            font-family: ibatdongsan-avo;
        }

        /*.elementor-12149 .elementor-element.elementor-element-86d20c8 .slick-slide-inner {
            text-align: center;
            background-color: rgba(0,0,0,.5);
        }*/

        .tintuc p:before {
            content: "\f219";
            color: #055699;
            margin-right: 5px;
            font: normal normal normal 14px/1 FontAwesome;
        }

        .tuvi p:before {
            content: "#055699";
            color: #055699;
            margin-right: 5px;
            font: normal normal normal 14px/1 FontAwesome;
        }

        .tinvip p:before {
            content: "#055699";
            color: #055699;
            margin-right: 5px;
            font: normal normal normal 14px/1 FontAwesome;
        }

        .muaban p:before {
            content: "\f0a1";
            color: #055699;
            margin-right: 5px;
            font: normal normal normal 14px/1 FontAwesome;
        }

        .thongtinthem h5:before {
            content: "#055699";
            color: #055699;
            margin-right: 5px;
            font: normal normal normal 14px/1 FontAwesome;
        }

        .thongtinthem a:before {
            content: "\f0a9";
            color: #1457a8;
            margin-right: 10px;
            font: normal normal normal 14px/1 FontAwesome;
        }

        .wp-caption .wp-caption-text {
            font-style: italic;
        }

        div.simplesocialbuttons.simplesocialbuttons-float-left-center {
            left: 15px;
        }

        .elementor-13988 .elementor-element.elementor-element-961c326 .elementor-post {
            padding-right: calc( 0px/2 );
            padding-left: calc( 0px/2 );
            padding-bottom: 0px;
            padding-top: 0;
        }

        .elementor-13988 .elementor-element.elementor-element-8d6ff33 .elementor-post {
            padding-right: calc( 0px/2 );
            padding-left: calc( 0px/2 );
            padding-bottom: 0px;
            padding-top: 0;
        }

        .site-main {
            box-shadow: 0px 20px 150px #d6dee4;
            border-radius: 4px;
        }

        .elementor-13437 .elementor-element.elementor-element-3ba8b983 .elementor-post {
            padding: 0;
        }

        .elementor-13437 .elementor-element.elementor-element-3ca89ad .elementor-post {
            padding: 0;
        }

        .uab-template-1 .uab-display-name span.uab-user-role, .uab-template-1 .uab-social-icons > span {
            background: #161616;
            color: #b9a35b;
        }

        .elementor-13437 .elementor-element.elementor-element-e3ade5a .elementor-post {
            padding: 0px;
        }

        .uab-template-1 .uab-social-icons {
            display: none;
        }

        .goog-te-gadget {
            color: #fff !important;
        }

        .goog-logo-link, .goog-logo-link:link, .goog-logo-link:visited, .goog-logo-link:hover, .goog-logo-link:active {
            display: none;
        }

        .uab-template-1 .uab-display-name span.uab-user-role, .uab-template-1 .uab-social-icons > span {
            background: #055699;
            color: #ffffff;
        }
    </style>
</head>
<body data-rsssl="1" class="post-template post-template-elementor_canvas single single-post postid-19235 single-format-standard wp-custom-logo wp-schema-pro-1.1.3 ast-separate-container ast-right-sidebar astra-1.3.3 ast-header-custom-item-inside group-blog ast-blog-single-style-1 ast-single-post ast-normal-title-enabled elementor-default elementor-template-canvas elementor-page elementor-page-19235 astra-addon-1.3.4" data-elementor-device-mode="desktop">
    <div class="bdt-offcanvas-content">
        <div class="elementor elementor-19235">
            <div class="elementor-inner">
                <div class="elementor-section-wrap">
                    <section data-id="52c7c5e8" class="elementor-element elementor-element-52c7c5e8 elementor-section-full_width elementor-section-height-min-height elementor-section-height-default elementor-section-items-bottom elementor-hidden-tablet elementor-hidden-phone elementor-section elementor-top-section jet-parallax-section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                                <div data-id="35649c37" class="elementor-element elementor-element-35649c37 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div data-id="5a421983" class="elementor-element elementor-element-5a421983 elementor-widget elementor-widget-image" data-element_type="image.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-image">
                                                        <a href="https://ibatdongsan.co/vincity-athena-gia-lam-19235.html" data-elementor-open-lightbox="">
                                                            <img width="400" height="227" src="~/Content/Vin/logo-vincity.jpeg" class="attachment-large size-large" alt="" srcset="https://ibatdongsan.co/wp-content/uploads/2018/06/logo-vincity.jpeg 400w, https://ibatdongsan.co/wp-content/uploads/2018/06/logo-vincity-300x170.jpeg 300w" sizes="(max-width: 400px) 100vw, 400px">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <section data-id="34e3cf55" class="elementor-element elementor-element-34e3cf55 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section jet-parallax-section" data-element_type="section">
                                                <div class="elementor-container elementor-column-gap-default">
                                                    <div class="elementor-row">
                                                        <div data-id="3737306a" class="elementor-element elementor-element-3737306a elementor-column elementor-col-50 elementor-inner-column" data-element_type="column">
                                                            <div class="elementor-column-wrap">
                                                                <div class="elementor-widget-wrap">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div data-id="1bf4de1f" class="elementor-element elementor-element-1bf4de1f elementor-column elementor-col-50 elementor-inner-column" data-element_type="column">
                                                            <div class="elementor-column-wrap">
                                                                <div class="elementor-widget-wrap">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section data-id="1c825d7d" class="elementor-element elementor-element-1c825d7d elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section jet-parallax-section elementor-sticky--active" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;sticky&quot;:&quot;top&quot;,&quot;sticky_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;]}" data-element_type="section" style="position: fixed; top: 0px; width: 1349px;">
                        <div class="elementor-container elementor-column-gap-narrow">
                            <div class="elementor-row">
                                <div data-id="10d58fd0" class="elementor-element elementor-element-10d58fd0 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div data-id="395913b8" class="elementor-element elementor-element-395913b8 elementor-button-align-stretch elementor-widget elementor-widget-form" data-element_type="form.default">
                                                <div class="elementor-widget-container">
                                                    <form class="elementor-form" method="post" name="West Point">
                                                        <input type="hidden" name="post_id" value="19235">
                                                        <input type="hidden" name="form_id" value="395913b8">
                                                        <div class="elementor-form-fields-wrapper elementor-labels-">
                                                            <div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-25 elementor-field-required">
                                                                <label for="form-field-name" class="elementor-field-label elementor-screen-only">Họ và tên</label><input size="1" type="text" name="form_fields[name]" id="form-field-name" class="elementor-field elementor-size-md  elementor-field-textual" placeholder="Họ và tên" required="required" aria-required="true">
                                                            </div>
                                                            <div class="elementor-field-type-tel elementor-field-group elementor-column elementor-field-group-field_1 elementor-col-25 elementor-field-required">
                                                                <label for="form-field-field_1" class="elementor-field-label elementor-screen-only">Số điện thoại</label><input size="1" type="tel" name="form_fields[field_1]" id="form-field-field_1" class="elementor-field elementor-size-md  elementor-field-textual" placeholder="Số điện thoại" required="required" aria-required="true" pattern="[0-9()#&amp;+*-=.]+" title="Only numbers and phone characters (#, -, *, etc) are accepted.">
                                                            </div>
                                                            <div class="elementor-field-type-email elementor-field-group elementor-column elementor-field-group-email elementor-col-25 elementor-field-required">
                                                                <label for="form-field-email" class="elementor-field-label elementor-screen-only">Email</label><input size="1" type="email" name="form_fields[email]" id="form-field-email" class="elementor-field elementor-size-md  elementor-field-textual" placeholder="Email" required="required" aria-required="true">
                                                            </div>
                                                            <div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-25 elementor-md-25">
                                                                <button type="submit" class="elementor-button elementor-size-md">
                                                                    <span>
                                                                        <span class="elementor-button-text">TẢI BẢNG GIÁ</span>
                                                                    </span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section><div style="position: relative; width: 1349px; height: 89px; display: block; vertical-align: baseline; float: none;"></div>




                    @RenderBody()
                    <section data-id="458afc54" class="elementor-element elementor-element-458afc54 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section-content-middle elementor-section elementor-top-section jet-parallax-section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_top&quot;:&quot;mountains&quot;}" data-element_type="section">
                        <div class="elementor-shape elementor-shape-top" data-negative="false">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
                                <path class="elementor-shape-fill" opacity="0.33" d="M473,67.3c-203.9,88.3-263.1-34-320.3,0C66,119.1,0,59.7,0,59.7V0h1000v59.7 c0,0-62.1,26.1-94.9,29.3c-32.8,3.3-62.8-12.3-75.8-22.1C806,49.6,745.3,8.7,694.9,4.7S492.4,59,473,67.3z"></path>
                                <path class="elementor-shape-fill" opacity="0.66" d="M734,67.3c-45.5,0-77.2-23.2-129.1-39.1c-28.6-8.7-150.3-10.1-254,39.1 s-91.7-34.4-149.2,0C115.7,118.3,0,39.8,0,39.8V0h1000v36.5c0,0-28.2-18.5-92.1-18.5C810.2,18.1,775.7,67.3,734,67.3z"></path>
                                <path class="elementor-shape-fill" d="M766.1,28.9c-200-57.5-266,65.5-395.1,19.5C242,1.8,242,5.4,184.8,20.6C128,35.8,132.3,44.9,89.9,52.5C28.6,63.7,0,0,0,0 h1000c0,0-9.9,40.9-83.6,48.1S829.6,47,766.1,28.9z"></path>
                            </svg>
                        </div>
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                                <div data-id="3e8e995b" class="elementor-element elementor-element-3e8e995b elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div data-id="4f7683f6" class="elementor-element elementor-element-4f7683f6 animated elementor-widget elementor-widget-jet-headline fadeInLeft" data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;}" data-element_type="jet-headline.default">
                                                <div class="elementor-widget-container">
                                                    <h2 class="jet-headline jet-headline--direction-vertical">
                                                        <span class="jet-headline__part jet-headline__first">
                                                            <span class="jet-headline__deco jet-headline__deco-image"><img src="~/Content/Vin/hedline-2-1.png" alt=""></span><span class="jet-headline__label">
                                                                Cuộc sống 5 sao
                                                            </span>
                                                        </span><span class="jet-headline__part jet-headline__second"><span class="jet-headline__label">Chuẩn thượng lưu đẳng cấp</span><span class="jet-headline__deco jet-headline__deco-image"><img src="~/Content/Vin/hedline-3-1.png" alt=""></span></span>
                                                    </h2>
                                                </div>
                                            </div>
                                            <div data-id="5a3b0340" class="elementor-element elementor-element-5a3b0340 animated elementor-widget elementor-widget-text-editor fadeInLeft" data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;}" data-element_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-text-editor elementor-clearfix"><p>Cư dân tương lai tại dự án Chung cư <strong>Vincity Athena Gia Lâm</strong> sẽ được tận hưởng trọn vẹn các tiện ích, dịch vụ đẳng cấp 5 sao từ các sản phẩm Tập đoàn Vingroup: Vincom, Vinpro, Vinmart, Hệ thống trường liên cấp Vinshool, phòng khám Vinmec, khu dạo phố, bể bơi trong nhà và ngoài trời, và các tiện ích vượt trội khác….…</p><p>Cho dù sống ở đâu đi nữ thì vấn đề về an ninh bảo mật là vấn đề luôn được các cư dân quan tâm hàng đầu. Với hệ thống bảo mật và an ninh tuyệt đối cho mỗi cư dân, khi sinh sống tại Vincity Athena Gia Lâm bạn có thể hoàn toàn yên tâm về cuộc sống riêng tư của mình.</p></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-id="4fec0f58" class="elementor-element elementor-element-4fec0f58 elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div data-id="6fb3d7c8" class="elementor-element elementor-element-6fb3d7c8 animated elementor-widget elementor-widget-jet-banner rotateInDownLeft" data-settings="{&quot;_animation&quot;:&quot;rotateInDownLeft&quot;}" data-element_type="jet-banner.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-jet-banner jet-elements">
                                                        <figure class="jet-banner jet-effect-roxy"><div class="jet-banner__overlay"></div><img src="~/Content/Vin/tien-ich-vinhomes-west-point-do-duc-duc-1.png" alt="" class="jet-banner__img"><figcaption class="jet-banner__content"><div class="jet-banner__content-wrap"><h5 class="jet-banner__title">Kết nối <b>Tinh hoa</b></h5><div class="jet-banner__text">Đồng bộ với môi trường sinh thái &amp; hệ thống dịch vụ tiện ích</div></div></figcaption></figure>
                                                    </div>
                                                </div>
                                            </div>
                                            <div data-id="7a336379" class="elementor-element elementor-element-7a336379 animated elementor-widget elementor-widget-jet-banner rotateInUpRight" data-settings="{&quot;_animation&quot;:&quot;rotateInUpRight&quot;}" data-element_type="jet-banner.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-jet-banner jet-elements">
                                                        <figure class="jet-banner jet-effect-roxy"><div class="jet-banner__overlay"></div><img src="~/Content/Vin/tien-ich-vinhomes-west-point-do-duc-duc-3.png" alt="" class="jet-banner__img"><figcaption class="jet-banner__content"><div class="jet-banner__content-wrap"><h5 class="jet-banner__title">Đẳng cấp</h5><div class="jet-banner__text">Cảm giác như đang dạo bước ở Châu Âu</div></div></figcaption></figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div data-id="4972ebdc" class="elementor-element elementor-element-4972ebdc elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div data-id="2d889ba8" class="elementor-element elementor-element-2d889ba8 animated elementor-widget elementor-widget-jet-banner rotateInDownRight" data-settings="{&quot;_animation&quot;:&quot;rotateInDownRight&quot;}" data-element_type="jet-banner.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-jet-banner jet-elements">
                                                        <figure class="jet-banner jet-effect-roxy"><div class="jet-banner__overlay"></div><img src="~/Content/Vin/tien-ich-vinhomes-west-point-do-duc-duc-2.png" alt="" class="jet-banner__img"><figcaption class="jet-banner__content"><div class="jet-banner__content-wrap"><h5 class="jet-banner__title">An ninh <b>24/7</b></h5><div class="jet-banner__text">Hệ thống camera giám sát 24/7, tuần tra cơ động 24/24</div></div></figcaption></figure>
                                                    </div>
                                                </div>
                                            </div>
                                            <div data-id="6e440a9c" class="elementor-element elementor-element-6e440a9c animated elementor-widget elementor-widget-jet-banner rotateInUpLeft" data-settings="{&quot;_animation&quot;:&quot;rotateInUpLeft&quot;}" data-element_type="jet-banner.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-jet-banner jet-elements">
                                                        <figure class="jet-banner jet-effect-roxy"><div class="jet-banner__overlay"></div><img src="~/Content/Vin/tien-ich-vinhomes-west-point-do-duc-duc-4.png" alt="" class="jet-banner__img"><figcaption class="jet-banner__content"><div class="jet-banner__content-wrap"><h5 class="jet-banner__title">Thượng lưu</h5><div class="jet-banner__text">Một cuộc sống thượng lưu, một cộng đồng văn minh.</div></div></figcaption></figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section data-id="2bd22e62" class="elementor-element elementor-element-2bd22e62 elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section jet-parallax-section" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-row">
                                <div data-id="3313542b" class="elementor-element elementor-element-3313542b elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div data-id="52499ed0" class="elementor-element elementor-element-52499ed0 elementor-widget elementor-widget-divider" data-element_type="divider.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-divider">
                                                        <span class="elementor-divider-separator"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div><div class="yarpp-related">
            <span style="display: block; padding: 10px 0 7px; margin-top: 12px; border-top: 1px dotted #d9d9d9;">
                <li><a href="https://ibatdongsan.co/ly-do-chon-ibatdongsan-khi-mua-can-ho-vincity-athena-gia-lam-19261.html" rel="bookmark" title="Lý do chọn iBATDONGSAN khi mua căn hộ Vincity Athena Gia Lâm">Lý do chọn iBATDONGSAN khi mua căn hộ Vincity Athena Gia Lâm </a></li>
                <li><a href="https://ibatdongsan.co/vi-sao-ban-nen-chon-du-an-vincity-athena-gia-lam-la-noi-song-ly-tuong-19265.html" rel="bookmark" title="Vì sao bạn nên chọn dự án Vincity Athena Gia Lâm là nơi sống lý tưởng">Vì sao bạn nên chọn dự án Vincity Athena Gia Lâm là nơi sống lý tưởng </a></li>
                <li><a href="https://ibatdongsan.co/vi-tri-vincity-athena-gia-lam-dem-lai-loi-ich-gi-dac-biet-19270.html" rel="bookmark" title="Vị trí Vincity Athena Gia Lâm đem lại lợi ích gì đặc biệt">Vị trí Vincity Athena Gia Lâm đem lại lợi ích gì đặc biệt </a></li>
                <li><a href="https://ibatdongsan.co/thiet-ke-va-tien-ich-chung-cu-vincity-athena-gia-lam-co-gi-19275.html" rel="bookmark" title="Thiết kế và tiện ích chung cư Vincity Athena Gia Lâm có gì?">Thiết kế và tiện ích chung cư Vincity Athena Gia Lâm có gì? </a></li>
                <li><a href="https://ibatdongsan.co/nhung-diem-manh-du-an-vincity-athena-gia-lam-khong-nen-bo-qua-19279.html" rel="bookmark" title="Những điểm mạnh dự án Vincity Athena Gia Lâm không nên bỏ qua">Những điểm mạnh dự án Vincity Athena Gia Lâm không nên bỏ qua </a></li>
            </span>
        </div>
        <a id="ast-scroll-top" class="ast-scroll-top-icon ast-scroll-to-top-right" data-on-devices="both" style="display: inline;">
            <span class="screen-reader-text">Scroll to Top</span>
        </a>
        <link rel="stylesheet" id="elementor-post-18933-css" href="~/Content/Vin/post-18933.css" type="text/css" media="all">
        <link rel="stylesheet" id="yarppRelatedCss-css" href="~/Content/Vin/related.css" type="text/css" media="all">
        <script type="text/javascript">
            /* <![CDATA[ */
            var wp_load_style = ["yarppWidgetCss.css", "astra-theme-css.css", "element-pack-site.css", "elementor-icons.css", "font-awesome.css", "elementor-animations.css", "elementor-frontend.css", "elementor-pro.css", "uael-frontend.css", "elementor-global.css", "elementor-post-19235.css", "elementor-post-14799.css", "elementor-post-14121.css", "elementor-post-14097.css", "elementor-post-13988.css", "elementor-post-13981.css", "uab-frontend-style.css", "uab-frontend-responsive-style.css", "dashicons.css", "wp-schema-pro-fontend-style.css", "wpuf-css.css", "jquery-ui.css", "astra-addon-css.css", "cherry-handler-css.css", "jet-elements.css", "jet-elements-skin.css", "jet-slider-pro-css.css", "jet-juxtapose-css.css", "jet-blocks.css", "google-fonts-1.css"];
            var wp_load_script = ["cherry-js-core.js", "astra-theme-js.js", "uab-frontend-script.js", "wp-schema-pro-fontend-script.js", "jquery.js", "jquery-ui-datepicker.js", "jquery-ui-autocomplete.js", "suggest.js", "jquery-ui-slider.js", "plupload-handlers.js", "jquery-ui-timepicker.js", "wpuf-upload.js", "wpuf-form.js", "wpuf-subscriptions.js", "wpuf-ajax-script.js", "astra-addon-js.js", "cherry-handler-js.js", "particles.js"];
            var cherry_ajax = "1f45d7cc6a";
            var ui_init_object = { "auto_init": "false", "targets": [] };
            /* ]]> */</script>
        <script type="text/javascript" src="~/Content/Vin/cherry-js-core.min.js"></script>
        <script type="text/javascript">
/* <![CDATA[ */
var astra = {"break_point":"921","query_vars":"{\"p\":\"19235\",\"page\":\"\",\"name\":\"vincity-athena-gia-lam\"}","edit_post_url":"https:\/\/ibatdongsan.co\/wp-admin\/post.php?post={{id}}&action=edit","ajax_url":"https:\/\/ibatdongsan.co\/wp-admin\/admin-ajax.php","infinite_count":"2","infinite_total":"0","pagination":"number","infinite_scroll_event":"scroll","infinite_nonce":"c33ca11c1b","no_more_post_message":"No more posts to show.","grid_layout":"1","site_url":"https:\/\/ibatdongsan.co","show_comments":"Hi\u1ec7n b\u00ecnh lu\u1eadn","masonryEnabled":"","blogMasonryBreakPoint":"768"};
/* ]]> */
        </script>
        <script type="text/javascript" src="~/Content/Vin/style.min.js"></script>
        <script type="text/javascript">
            /* <![CDATA[ */
            var AIOSRS_Frontend = { "ajaxurl": "https:\/\/ibatdongsan.co\/wp-admin\/admin-ajax.php", "post_id": "19235", "user_rating_nonce": "ea8ebde376", "success_msg": "Thanks!" };
            /* ]]> */</script>
        <script type="text/javascript" src="~/Content/Vin/frontend(1).js"></script>
        <script type="text/javascript" src="~/Content/Vin/widget.min.js"></script>
        <script type="text/javascript" src="~/Content/Vin/position.min.js"></script>
        <script type="text/javascript" src="~/Content/Vin/menu.min.js"></script>
        <script type="text/javascript" src="~/Content/Vin/wp-a11y.min.js"></script>
        <script type="text/javascript">
            /* <![CDATA[ */
            var uiAutocompleteL10n = { "noResults": "Kh\u00f4ng t\u00ecm th\u1ea5y g\u00ec c\u1ea3.", "oneResult": "\u0110\u00e3 t\u00ecm th\u1ea5y 1 k\u1ebft qu\u1ea3. H\u00e3y d\u00f9ng ph\u00edm l\u00ean v\u00e0 xu\u1ed1ng \u0111\u1ec3 di chuy\u1ec3n.", "manyResults": "%d k\u1ebft qu\u1ea3 \u0111\u01b0\u1ee3c t\u00ecm th\u1ea5y. S\u1eed d\u1ee5ng ph\u00edm l\u00ean \/ xu\u1ed1ng \u0111\u1ec3 xem.", "itemSelected": "M\u1ee5c \u0111\u01b0\u1ee3c ch\u1ecdn." };
            /* ]]> */</script>
        <script type="text/javascript" src="~/Content/Vin/autocomplete.min.js"></script>
        <script type="text/javascript" src="~/Content/Vin/suggest.min.js"></script>
        <script type="text/javascript" src="~/Content/Vin/mouse.min.js"></script>
        <script type="text/javascript" src="~/Content/Vin/slider.min.js"></script>
        <script type="text/javascript">
            /* <![CDATA[ */
            var wpuf_subscription = { "pack_notice": "Please Cancel Your Currently Active Pack first!" };
            /* ]]> */</script>
        <script type="text/javascript" src="~/Content/Vin/subscriptions.js"></script>
        <script type="text/javascript">
            /* <![CDATA[ */
            var astraAddon = { "hook_sticky_footer": "", "hook_sticky_footer_on_devices": "desktop", "hook_custom_footer_break_point": "921", "hook_sticky_header": "", "hook_shrink_header": "", "hook_sticky_header_on_devices": "desktop", "hook_custom_header_break_point": "921", "header_main_stick": "", "header_above_stick": "0", "header_below_stick": "0", "stick_header_meta": "", "header_main_stick_meta": "", "header_above_stick_meta": "", "header_below_stick_meta": "", "sticky_header_on_devices": "desktop", "sticky_header_style": "none", "sticky_hide_on_scroll": "1", "break_point": "921", "header_main_shrink": "", "header_logo_width": "", "responsive_header_logo_width": { "desktop": "", "tablet": "", "mobile": "" }, "site_layout": "", "site_content_width": "1240", "site_layout_padded_width": "1200", "site_layout_box_width": "1200" };
            /* ]]> */</script>
        <script type="text/javascript" src="~/Content/Vin/astra-addon-5b21f0f2d81ea6-57846092.js"></script>
        <script type="text/javascript">
            /* <![CDATA[ */
            var jet_subscribe_form_ajax = { "action": "jet_subscribe_form_ajax", "nonce": "d317e8c92e", "type": "POST", "data_type": "json", "is_public": "true", "sys_messages": { "invalid_base_data": "Unable to process the request without nonce or server error", "no_right": "No right for this action", "invalid_nonce": "Stop CHEATING!!!", "access_is_allowed": "Access is allowed", "wait_processing": "Please wait, processing the previous request" } };
            var cherryHandlerAjaxUrl = { "ajax_url": "https:\/\/ibatdongsan.co\/wp-admin\/admin-ajax.php" };
            /* ]]> */</script>
        <script type="text/javascript" src="~/Content/Vin/cherry-handler.min.js"></script>
        <script type="text/javascript" src="~/Content/Vin/js_cookie.min.js"></script>
        <script type="text/javascript" src="~/Content/Vin/uael-modal-popup.min.js"></script>
        <script type="text/javascript" src="~/Content/Vin/uael-frontend.min.js"></script>
        <script type="text/javascript" src="~/Content/Vin/typed.min.js"></script>
        <script type="text/javascript" src="~/Content/Vin/rvticker.min.js"></script>
        @*<script type="text/javascript" src="~/Content/Vin/slick.min.js"></script>*@
        <script type="text/javascript" src="~/Content/Vin/imagesloaded.min.js"></script>
        <script type="text/javascript" src="~/Content/Vin/EasePack.min.js"></script>
        <script type="text/javascript" src="~/Content/Vin/TweenMax.min.js"></script>
        <script type="text/javascript" src="~/Content/Vin/jquery.jsticky.js"></script>
        <script type="text/javascript">
            /* <![CDATA[ */
            var element_pack_ajax_login_config = { "ajaxurl": "https:\/\/ibatdongsan.co\/wp-admin\/admin-ajax.php", "loadingmessage": "Sending user info, please wait..." };
            var ElementPackSiteConfig = { "ajaxurl": "https:\/\/ibatdongsan.co\/wp-admin\/admin-ajax.php", "nonce": "0249c1ada8" };
            /* ]]> */</script>
        <script type="text/javascript" src="~/Content/Vin/bdt-uikit.min.js"></script>
        <script type="text/javascript" src="~/Content/Vin/element-pack-site.min.js"></script>
        <script type="text/javascript" src="~/Content/Vin/jquery.sticky-kit.min.js"></script>
        <script type="text/javascript">
            /* <![CDATA[ */
            var ElementorProFrontendConfig = { "ajaxurl": "https:\/\/ibatdongsan.co\/wp-admin\/admin-ajax.php", "nonce": "03d53105ee", "shareButtonsNetworks": { "facebook": { "title": "Facebook", "has_counter": true }, "twitter": { "title": "Twitter" }, "google": { "title": "Google+", "has_counter": true }, "linkedin": { "title": "LinkedIn", "has_counter": true }, "pinterest": { "title": "Pinterest", "has_counter": true }, "reddit": { "title": "Reddit", "has_counter": true }, "vk": { "title": "VK", "has_counter": true }, "odnoklassniki": { "title": "OK", "has_counter": true }, "tumblr": { "title": "Tumblr" }, "delicious": { "title": "Delicious" }, "digg": { "title": "Digg" }, "skype": { "title": "Skype" }, "stumbleupon": { "title": "StumbleUpon", "has_counter": true }, "telegram": { "title": "Telegram" }, "pocket": { "title": "Pocket", "has_counter": true }, "xing": { "title": "XING", "has_counter": true }, "whatsapp": { "title": "WhatsApp" }, "email": { "title": "Email" }, "print": { "title": "Print" } }, "facebook_sdk": { "lang": "vi", "app_id": "" } };
            /* ]]> */</script>
        <script type="text/javascript" src="~/Content/Vin/frontend.min.js"></script>
        <script type="text/javascript" src="~/Content/Vin/dialog.min.js"></script>
        <script type="text/javascript" src="~/Content/Vin/waypoints.min.js"></script>
        <script type="text/javascript" src="~/Content/Vin/swiper.jquery.min.js"></script>
        <script type="text/javascript">
            /* <![CDATA[ */
            var elementorFrontendConfig = { "isEditMode": "", "is_rtl": "", "urls": { "assets": "https:\/\/ibatdongsan.co\/wp-content\/plugins\/elementor\/assets\/" }, "settings": { "page": [], "general": { "elementor_global_image_lightbox": "yes", "elementor_enable_lightbox_in_editor": "yes" } }, "post": { "id": 19235, "title": "Vincity Athena Gia L\u00e2m", "excerpt": "" } };
            /* ]]> */</script>
        <script type="text/javascript" src="~/Content/Vin/frontend.min(1).js"></script>
        <script type="text/javascript">
            /* <![CDATA[ */
            var jetElements = { "messages": { "invalidMail": "Please specify a valid e-mail" }, "jetParallaxSections": { "52c7c5e8": [{ "jet_parallax_layout_image": { "url": "", "id": "" }, "_id": "502f393", "jet_parallax_layout_speed": { "unit": "%", "size": 50 }, "jet_parallax_layout_type": "scroll", "jet_parallax_layout_z_index": "", "jet_parallax_layout_bg_x": 50, "jet_parallax_layout_bg_y": 50, "jet_parallax_layout_bg_size": "auto", "jet_parallax_layout_animation_prop": "transform", "jet_parallax_layout_on": ["desktop", "tablet"] }], "34e3cf55": [{ "jet_parallax_layout_image": { "url": "" }, "_id": "180b4fe", "jet_parallax_layout_speed": { "unit": "%", "size": 50 }, "jet_parallax_layout_type": "scroll", "jet_parallax_layout_z_index": "", "jet_parallax_layout_bg_x": 50, "jet_parallax_layout_bg_y": 50, "jet_parallax_layout_bg_size": "auto", "jet_parallax_layout_animation_prop": "transform", "jet_parallax_layout_on": ["desktop", "tablet"] }], "1c825d7d": [{ "jet_parallax_layout_image": { "url": "", "id": "" }, "_id": "c7d8346", "jet_parallax_layout_speed": { "unit": "%", "size": 50 }, "jet_parallax_layout_type": "scroll", "jet_parallax_layout_z_index": "", "jet_parallax_layout_bg_x": 50, "jet_parallax_layout_bg_y": 50, "jet_parallax_layout_bg_size": "auto", "jet_parallax_layout_animation_prop": "transform", "jet_parallax_layout_on": ["desktop", "tablet"] }], "1a12016b": [{ "jet_parallax_layout_image": { "url": "", "id": "" }, "_id": "55ec933", "jet_parallax_layout_speed": { "unit": "%", "size": 50 }, "jet_parallax_layout_type": "scroll", "jet_parallax_layout_z_index": "", "jet_parallax_layout_bg_x": 50, "jet_parallax_layout_bg_y": 50, "jet_parallax_layout_bg_size": "auto", "jet_parallax_layout_animation_prop": "transform", "jet_parallax_layout_on": ["desktop", "tablet"] }], "2d102e98": [{ "jet_parallax_layout_image": { "url": "", "id": "" }, "_id": "7435ec6", "jet_parallax_layout_speed": { "unit": "%", "size": 50 }, "jet_parallax_layout_type": "scroll", "jet_parallax_layout_z_index": "", "jet_parallax_layout_bg_x": 50, "jet_parallax_layout_bg_y": 50, "jet_parallax_layout_bg_size": "auto", "jet_parallax_layout_animation_prop": "transform", "jet_parallax_layout_on": ["desktop", "tablet"] }], "3b3bdd41": [{ "jet_parallax_layout_image": { "url": "", "id": "" }, "_id": "fe98ab0", "jet_parallax_layout_speed": { "unit": "%", "size": 50 }, "jet_parallax_layout_type": "scroll", "jet_parallax_layout_z_index": "", "jet_parallax_layout_bg_x": 50, "jet_parallax_layout_bg_y": 50, "jet_parallax_layout_bg_size": "auto", "jet_parallax_layout_animation_prop": "transform", "jet_parallax_layout_on": ["desktop", "tablet"] }], "1f67417": [{ "jet_parallax_layout_image": { "url": "" }, "_id": "e610cef", "jet_parallax_layout_speed": { "unit": "%", "size": 50 }, "jet_parallax_layout_type": "scroll", "jet_parallax_layout_z_index": "", "jet_parallax_layout_bg_x": 50, "jet_parallax_layout_bg_y": 50, "jet_parallax_layout_bg_size": "auto", "jet_parallax_layout_animation_prop": "transform", "jet_parallax_layout_on": ["desktop", "tablet"] }], "532405c7": [{ "jet_parallax_layout_image": { "url": "", "id": "" }, "_id": "7b59324", "jet_parallax_layout_speed": { "unit": "%", "size": 50 }, "jet_parallax_layout_type": "scroll", "jet_parallax_layout_z_index": "", "jet_parallax_layout_bg_x": 50, "jet_parallax_layout_bg_y": 50, "jet_parallax_layout_bg_size": "auto", "jet_parallax_layout_animation_prop": "transform", "jet_parallax_layout_on": ["desktop", "tablet"] }], "6ceac75f": [{ "jet_parallax_layout_image": { "url": "", "id": "" }, "_id": "cf7c854", "jet_parallax_layout_speed": { "unit": "%", "size": 50 }, "jet_parallax_layout_type": "scroll", "jet_parallax_layout_z_index": "", "jet_parallax_layout_bg_x": 50, "jet_parallax_layout_bg_y": 50, "jet_parallax_layout_bg_size": "auto", "jet_parallax_layout_animation_prop": "transform", "jet_parallax_layout_on": ["desktop", "tablet"] }], "5ca2aefd": [{ "jet_parallax_layout_image": { "url": "", "id": "" }, "_id": "dbc4b1a", "jet_parallax_layout_speed": { "unit": "%", "size": 50 }, "jet_parallax_layout_type": "scroll", "jet_parallax_layout_z_index": "", "jet_parallax_layout_bg_x": 50, "jet_parallax_layout_bg_y": 50, "jet_parallax_layout_bg_size": "auto", "jet_parallax_layout_animation_prop": "transform", "jet_parallax_layout_on": ["desktop", "tablet"] }], "54df52f3": [{ "jet_parallax_layout_image": { "url": "", "id": "" }, "_id": "dbc4b1a", "jet_parallax_layout_speed": { "unit": "%", "size": 50 }, "jet_parallax_layout_type": "scroll", "jet_parallax_layout_z_index": "", "jet_parallax_layout_bg_x": 50, "jet_parallax_layout_bg_y": 50, "jet_parallax_layout_bg_size": "auto", "jet_parallax_layout_animation_prop": "transform", "jet_parallax_layout_on": ["desktop", "tablet"] }], "458afc54": [{ "jet_parallax_layout_image": { "url": "", "id": "" }, "_id": "b5fa7ca", "jet_parallax_layout_speed": { "unit": "%", "size": 50 }, "jet_parallax_layout_type": "scroll", "jet_parallax_layout_z_index": "", "jet_parallax_layout_bg_x": 50, "jet_parallax_layout_bg_y": 50, "jet_parallax_layout_bg_size": "auto", "jet_parallax_layout_animation_prop": "transform", "jet_parallax_layout_on": ["desktop", "tablet"] }], "2bd22e62": [{ "jet_parallax_layout_image": { "url": "", "id": "" }, "_id": "588a681", "jet_parallax_layout_speed": { "unit": "%", "size": 50 }, "jet_parallax_layout_type": "scroll", "jet_parallax_layout_z_index": "", "jet_parallax_layout_bg_x": 50, "jet_parallax_layout_bg_y": 50, "jet_parallax_layout_bg_size": "auto", "jet_parallax_layout_animation_prop": "transform", "jet_parallax_layout_on": ["desktop", "tablet"] }] } };
            /* ]]> */</script>
        <script type="text/javascript" src="~/Content/Vin/jet-elements.js"></script>
        <script type="text/javascript">
            /* <![CDATA[ */
            var jetBlocksData = [];
            /* ]]> */</script>
        <script type="text/javascript" src="~/Content/Vin/jet-blocks.js"></script>
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/5b447f504af8e57442dc7d25/default';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
        </script>
        <!--End of Tawk.to Script-->
        @*<div id="wp-a11y-speak-polite" aria-live="polite" aria-relevant="additions text" aria-atomic="true" class="screen-reader-text wp-a11y-speak-region"></div><div id="wp-a11y-speak-assertive" aria-live="assertive" aria-relevant="additions text" aria-atomic="true" class="screen-reader-text wp-a11y-speak-region"></div><div id="261397ad-overlay" data-trigger-on="button" data-close-on-esc="no" data-close-on-overlay="no" data-exit-intent="no" data-after-sec="no" data-after-sec-val="1" data-cookies="no" data-cookies-days="1" data-custom="" data-custom-id="" data-content="saved_rows" data-autoplay="no" class="uael-modal-parent-wrapper uael-module-content uamodal-261397ad uael-aspect-ratio-16_9">
            <div id="modal-261397ad" class="uael-modal uael-modal-custom uael-modal-saved_rows uael-effect-1   uael-aspect-ratio-16_9" style="top: 98px; margin-bottom: 20px;">
                <div class="uael-content">
                    <span class="uael-modal-close elementor-clickable uael-close-custom-popup-top-right">
                        <i class="uael-close-icon fa fa-close"></i>
                    </span>
                    <div class="uael-modal-title-wrap">
                        <h3 class="uael-modal-title elementor-inline-editing" data-elementor-setting-key="title" data-elementor-inline-editing-toolbar="basic">Tải trọn bộ tài liệu Vinhomes West Point</h3>
                    </div>
                    <div class="uael-modal-text uael-modal-content-data clearfix">
                        <style id="elementor-post-dynamic-18933"></style> <div class="elementor elementor-18933 elementor-type-section">
                            <div class="elementor-inner">
                                <div class="elementor-section-wrap">
                                    <section data-id="1f67417" class="elementor-element elementor-element-1f67417 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section jet-parallax-section" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div data-id="bb69ab0" class="elementor-element elementor-element-bb69ab0 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div data-id="9928efd" class="elementor-element elementor-element-9928efd elementor-button-align-stretch elementor-widget elementor-widget-form" data-element_type="form.default">
                                                                <div class="elementor-widget-container">
                                                                    <form class="elementor-form" method="post" name="New Form">
                                                                        <input type="hidden" name="post_id" value="18933">
                                                                        <input type="hidden" name="form_id" value="9928efd">
                                                                        <div class="elementor-form-fields-wrapper elementor-labels-above">
                                                                            <div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100 elementor-field-required elementor-mark-required">
                                                                                <label for="form-field-name" class="elementor-field-label">Họ và tên</label><input size="1" type="text" name="form_fields[name]" id="form-field-name" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Họ và tên" required="required" aria-required="true">
                                                                            </div>
                                                                            <div class="elementor-field-type-email elementor-field-group elementor-column elementor-field-group-email elementor-col-100 elementor-field-required elementor-mark-required">
                                                                                <label for="form-field-email" class="elementor-field-label">Email</label><input size="1" type="email" name="form_fields[email]" id="form-field-email" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Email" required="required" aria-required="true">
                                                                            </div>
                                                                            <div class="elementor-field-type-tel elementor-field-group elementor-column elementor-field-group-field_1 elementor-col-100 elementor-field-required elementor-mark-required">
                                                                                <label for="form-field-field_1" class="elementor-field-label">Số điện thoại</label><input size="1" type="tel" name="form_fields[field_1]" id="form-field-field_1" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Số điện thoại" required="required" aria-required="true" pattern="[0-9()#&amp;+*-=.]+" title="Only numbers and phone characters (#, -, *, etc) are accepted.">
                                                                            </div>
                                                                            <div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100">
                                                                                <button type="submit" class="elementor-button elementor-size-sm">
                                                                                    <span>
                                                                                        <span class="elementor-align-icon-left elementor-button-icon">
                                                                                            <i class="fa fa-download"></i>
                                                                                        </span>
                                                                                        <span class="elementor-button-text">TẢI VỀ MÁY</span>
                                                                                    </span>
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uael-overlay"></div>
        </div>*@
    </div>
</body>
</html>