﻿<section data-id="5ca2aefd" class="elementor-element elementor-element-5ca2aefd elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section jet-parallax-section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_bottom&quot;:&quot;zigzag&quot;}" data-element_type="section">
    <div class="elementor-background-overlay"></div>
    <div class="elementor-shape elementor-shape-bottom" data-negative="false">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1800 5.8" preserveAspectRatio="none">
            <path class="elementor-shape-fill" d="M5.4.4l5.4 5.3L16.5.4l5.4 5.3L27.5.4 33 5.7 38.6.4l5.5 5.4h.1L49.9.4l5.4 5.3L60.9.4l5.5 5.3L72 .4l5.5 5.3L83.1.4l5.4 5.3L94.1.4l5.5 5.4h.2l5.6-5.4 5.5 5.3 5.6-5.3 5.4 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.5 5.4h.2l5.6-5.4 5.4 5.3L161 .4l5.4 5.3L172 .4l5.5 5.3 5.6-5.3 5.4 5.3 5.7-5.3 5.4 5.4h.2l5.6-5.4 5.5 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.4 5.3 5.6-5.3 5.5 5.4h.2l5.6-5.4 5.5 5.3L261 .4l5.4 5.3L272 .4l5.5 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.5 5.4h.1l5.7-5.4 5.4 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.4 5.3 5.7-5.3 5.4 5.4h.2l5.6-5.4 5.5 5.3L361 .4l5.5 5.3 5.6-5.3 5.4 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.5 5.4h.1l5.7-5.4 5.4 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.5 5.4h.1l5.6-5.4 5.5 5.3L461 .4l5.5 5.3 5.6-5.3 5.4 5.3 5.7-5.3 5.4 5.3 5.6-5.3 5.5 5.4h.2l5.6-5.4 5.5 5.3 5.6-5.3 5.4 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.5 5.4h.1L550 .4l5.4 5.3L561 .4l5.5 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.4 5.3 5.6-5.3 5.5 5.4h.2l5.6-5.4 5.5 5.3 5.6-5.3 5.4 5.3 5.7-5.3 5.4 5.3 5.6-5.3 5.5 5.4h.2L650 .4l5.5 5.3 5.6-5.3 5.4 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.4 5.4h.2l5.6-5.4 5.5 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.4 5.3 5.6-5.3 5.5 5.4h.2L750 .4l5.5 5.3 5.6-5.3 5.4 5.3 5.7-5.3 5.4 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.5 5.4h.1l5.7-5.4 5.4 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.4 5.4h.2L850 .4l5.5 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.4 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.5 5.4h.2l5.6-5.4 5.4 5.3 5.7-5.3 5.4 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.5 5.4h.1l5.7-5.4 5.4 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.4 5.3 5.6-5.3 5.5 5.4h.2l5.6-5.4 5.5 5.3 5.6-5.3 5.4 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.5 5.4h.2l5.6-5.4 5.4 5.3 5.7-5.3 5.4 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.4 5.4h.2l5.6-5.4 5.5 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.4 5.3 5.6-5.3 5.5 5.4h.2l5.6-5.4 5.5 5.3 5.6-5.3 5.4 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.5 5.4h.1l5.7-5.4 5.4 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.4 5.4h.2l5.6-5.4 5.5 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.4 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.5 5.4h.2l5.6-5.4 5.4 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.5 5.4h.1l5.7-5.4 5.4 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.4 5.3 5.6-5.3 5.5 5.4h.2l5.6-5.4 5.5 5.3 5.6-5.3 5.4 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.5 5.4h.2l5.6-5.4 5.4 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.4 5.3 5.7-5.3 5.4 5.4h.2l5.6-5.4 5.5 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.4 5.3 5.6-5.3 5.5 5.4h.2l5.6-5.4 5.5 5.3 5.6-5.3 5.4 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.5 5.4h.1l5.6-5.4 5.5 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.4 5.3 5.7-5.3 5.4 5.4h.2l5.6-5.4 5.5 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.4 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.5 5.4h.1l5.7-5.4 5.4 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.5 5.4h.1l5.6-5.4 5.5 5.3 5.6-5.3 5.5 5.3 5.6-5.3 5.4 5.3 5.7-5.3 5.4 5.3 5.6-5.3 5.5 5.4V0H-.2v5.8z"></path>
        </svg>
    </div>
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div data-id="2aa1284" class="elementor-element elementor-element-2aa1284 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div data-id="3706a994" class="elementor-element elementor-element-3706a994 elementor-headline--style-highlight elementor-widget elementor-widget-animated-headline" data-settings="{&quot;marker&quot;:&quot;underline_zigzag&quot;,&quot;highlighted_text&quot;:&quot;kh\u00e1c bi\u1ec7t&quot;,&quot;headline_style&quot;:&quot;highlight&quot;}" data-element_type="animated-headline.default">
                            <div class="elementor-widget-container">
                                <h3 class="elementor-headline">
                                    <span class="elementor-headline-plain-text elementor-headline-text-wrapper">Mỗi điểm</span>
                                    <span class="elementor-headline-dynamic-wrapper elementor-headline-text-wrapper"><span class="elementor-headline-dynamic-text elementor-headline-text-active">khác biệt</span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 150" preserveAspectRatio="none"><path d="M9.3,127.3c49.3-3,150.7-7.6,199.7-7.4c121.9,0.4,189.9,0.4,282.3,7.2C380.1,129.6,181.2,130.6,70,139 c82.6-2.9,254.2-1,335.9,1.3c-56,1.4-137.2-0.3-197.1,9"></path></svg></span>
                                    <span class="elementor-headline-plain-text elementor-headline-text-wrapper">là</span>
                                </h3>
                            </div>
                        </div>
                        <div data-id="6d93d0d" class="elementor-element elementor-element-6d93d0d uael-show-cursor-yes elementor-widget elementor-widget-uael-fancy-heading" data-element_type="uael-fancy-heading.default">
                            <div class="elementor-widget-container">
                                <div class="uael-module-content uael-fancy-text-node" data-type-speed="120" data-animation="type" data-back-speed="60" data-start-delay="0" data-back-delay="1200" data-loop="true" data-show-cursor="true" data-cursor-char="|" data-strings="[&quot;tầm&quot;,&quot;danh&quot;,&quot;giá&quot;]">
                                    <h2 class="uael-fancy-text-wrap uael-fancy-text-type">
                                        <span class="uael-fancy-heading uael-fancy-text-prefix">Khẳng định về</span>
                                        <span class="uael-fancy-stack">
                                            <span class="uael-fancy-heading uael-fancy-text-main uael-typed-main-wrap "><span class="uael-typed-main">tầm</span><span class="typed-cursor">|</span><span class="uael-text-holder">.</span></span>
                                        </span>
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div data-id="5c414c72" class="elementor-element elementor-element-5c414c72 animated elementor-widget elementor-widget-jet-carousel zoomIn" data-settings="{&quot;_animation&quot;:&quot;zoomIn&quot;}" data-element_type="jet-carousel.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-jet-carousel jet-elements">
                                    <div class="jet-carousel-wrap">
                                        <div class="jet-carousel jet-carousel elementor-slick-slider slick-initialized slick-slider slick-dotted" data-slider_options="{&quot;slidesToShow&quot;:{&quot;desktop&quot;:3,&quot;tablet&quot;:2,&quot;mobile&quot;:1},&quot;autoplaySpeed&quot;:5000,&quot;autoplay&quot;:true,&quot;infinite&quot;:true,&quot;pauseOnHover&quot;:false,&quot;speed&quot;:500,&quot;arrows&quot;:true,&quot;dots&quot;:true,&quot;slidesToScroll&quot;:1,&quot;prevArrow&quot;:&quot;&lt;i class=\&quot;fa fa-chevron-left prev-arrow jet-arrow\&quot;&gt;&lt;\/i&gt;&quot;,&quot;variableWidth&quot;:false,&quot;nextArrow&quot;:&quot;&lt;i class=\&quot;fa fa-chevron-right next-arrow jet-arrow\&quot;&gt;&lt;\/i&gt;&quot;}" dir="ltr">
                                            <i class="fa fa-chevron-left prev-arrow jet-arrow slick-arrow" style="display: flex;"></i><div class="slick-list draggable">
                                                <div class="slick-track" style="opacity: 1; width: 4840px; transform: translate3d(-1320px, 0px, 0px);">
                                                    <div class="jet-carousel__item slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" tabindex="-1" style="width: 440px;">
                                                        <div class="jet-carousel__item-inner">
                                                            <figure class="jet-banner jet-effect-sadie"><div class="jet-banner__overlay"></div><img src="~/Content/Vin/SH-NGU-MASTER-SH02-M03_preview.jpeg" alt="" class="jet-banner__img"><figcaption class="jet-banner__content"><div class="jet-banner__content-wrap"><h5 class="jet-banner__title">Phòng ngủ Master</h5><div class="jet-banner__text">Hình ảnh phối cảnh Phòng ngủ Master dự án Vinhomes West Point</div></div></figcaption></figure>
                                                        </div>
                                                    </div><div class="jet-carousel__item slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" tabindex="-1" style="width: 440px;">
                                                        <div class="jet-carousel__item-inner">
                                                            <figure class="jet-banner jet-effect-sadie"><div class="jet-banner__overlay"></div><img src="~/Content/Vin/SH-SHC-NV-M02_preview.jpeg" alt="" class="jet-banner__img"><figcaption class="jet-banner__content"><div class="jet-banner__content-wrap"><h5 class="jet-banner__title">Phòng ngủ Master</h5><div class="jet-banner__text">Hình ảnh phối cảnh Phòng ngủ Master dự án Vinhomes West Point</div></div></figcaption></figure>
                                                        </div>
                                                    </div><div class="jet-carousel__item slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 440px;">
                                                        <div class="jet-carousel__item-inner">
                                                            <figure class="jet-banner jet-effect-sadie"><div class="jet-banner__overlay"></div><img src="~/Content/Vin/NGU-MASTER-DL1_preview.jpeg" alt="" class="jet-banner__img"><figcaption class="jet-banner__content"><div class="jet-banner__content-wrap"><h5 class="jet-banner__title">Phòng ngủ Master DL1</h5><div class="jet-banner__text">Phối cảnh Phòng ngủ Master DL1 dự án Vinhomes West Point</div></div></figcaption></figure>
                                                        </div>
                                                    </div><div class="jet-carousel__item slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide00" aria-describedby="slick-slide-control00" style="width: 440px;">
                                                        <div class="jet-carousel__item-inner">
                                                            <figure class="jet-banner jet-effect-sadie"><div class="jet-banner__overlay"></div><img src="~/Content/Vin/SH-KHACH-AN-SH02-M01_preview.jpeg" alt="" class="jet-banner__img"><figcaption class="jet-banner__content"><div class="jet-banner__content-wrap"><h5 class="jet-banner__title">Phòng khách + Phòng ăn</h5><div class="jet-banner__text">Hình ảnh phối cảnh căn hộ Vinhomes West Point (Phòng khách và Phòng ăn)</div></div></figcaption></figure>
                                                        </div>
                                                    </div><div class="jet-carousel__item slick-slide slick-active" data-slick-index="1" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide01" aria-describedby="slick-slide-control01" style="width: 440px;">
                                                        <div class="jet-carousel__item-inner">
                                                            <figure class="jet-banner jet-effect-sadie"><div class="jet-banner__overlay"></div><img src="~/Content/Vin/SH-NGU-MASTER-SH02-M03_preview.jpeg" alt="" class="jet-banner__img"><figcaption class="jet-banner__content"><div class="jet-banner__content-wrap"><h5 class="jet-banner__title">Phòng ngủ Master</h5><div class="jet-banner__text">Hình ảnh phối cảnh Phòng ngủ Master dự án Vinhomes West Point</div></div></figcaption></figure>
                                                        </div>
                                                    </div><div class="jet-carousel__item slick-slide slick-active" data-slick-index="2" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide02" aria-describedby="slick-slide-control02" style="width: 440px;">
                                                        <div class="jet-carousel__item-inner">
                                                            <figure class="jet-banner jet-effect-sadie"><div class="jet-banner__overlay"></div><img src="~/Content/Vin/SH-SHC-NV-M02_preview.jpeg" alt="" class="jet-banner__img"><figcaption class="jet-banner__content"><div class="jet-banner__content-wrap"><h5 class="jet-banner__title">Phòng ngủ Master</h5><div class="jet-banner__text">Hình ảnh phối cảnh Phòng ngủ Master dự án Vinhomes West Point</div></div></figcaption></figure>
                                                        </div>
                                                    </div><div class="jet-carousel__item slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide03" aria-describedby="slick-slide-control03" style="width: 440px;">
                                                        <div class="jet-carousel__item-inner">
                                                            <figure class="jet-banner jet-effect-sadie"><div class="jet-banner__overlay"></div><img src="~/Content/Vin/NGU-MASTER-DL1_preview.jpeg" alt="" class="jet-banner__img"><figcaption class="jet-banner__content"><div class="jet-banner__content-wrap"><h5 class="jet-banner__title">Phòng ngủ Master DL1</h5><div class="jet-banner__text">Phối cảnh Phòng ngủ Master DL1 dự án Vinhomes West Point</div></div></figcaption></figure>
                                                        </div>
                                                    </div><div class="jet-carousel__item slick-slide slick-cloned" data-slick-index="4" aria-hidden="true" tabindex="-1" style="width: 440px;">
                                                        <div class="jet-carousel__item-inner">
                                                            <figure class="jet-banner jet-effect-sadie"><div class="jet-banner__overlay"></div><img src="~/Content/Vin/SH-KHACH-AN-SH02-M01_preview.jpeg" alt="" class="jet-banner__img"><figcaption class="jet-banner__content"><div class="jet-banner__content-wrap"><h5 class="jet-banner__title">Phòng khách + Phòng ăn</h5><div class="jet-banner__text">Hình ảnh phối cảnh căn hộ Vinhomes West Point (Phòng khách và Phòng ăn)</div></div></figcaption></figure>
                                                        </div>
                                                    </div><div class="jet-carousel__item slick-slide slick-cloned" data-slick-index="5" aria-hidden="true" tabindex="-1" style="width: 440px;">
                                                        <div class="jet-carousel__item-inner">
                                                            <figure class="jet-banner jet-effect-sadie"><div class="jet-banner__overlay"></div><img src="~/Content/Vin/SH-NGU-MASTER-SH02-M03_preview.jpeg" alt="" class="jet-banner__img"><figcaption class="jet-banner__content"><div class="jet-banner__content-wrap"><h5 class="jet-banner__title">Phòng ngủ Master</h5><div class="jet-banner__text">Hình ảnh phối cảnh Phòng ngủ Master dự án Vinhomes West Point</div></div></figcaption></figure>
                                                        </div>
                                                    </div><div class="jet-carousel__item slick-slide slick-cloned" data-slick-index="6" aria-hidden="true" tabindex="-1" style="width: 440px;">
                                                        <div class="jet-carousel__item-inner">
                                                            <figure class="jet-banner jet-effect-sadie"><div class="jet-banner__overlay"></div><img src="~/Content/Vin/SH-SHC-NV-M02_preview.jpeg" alt="" class="jet-banner__img"><figcaption class="jet-banner__content"><div class="jet-banner__content-wrap"><h5 class="jet-banner__title">Phòng ngủ Master</h5><div class="jet-banner__text">Hình ảnh phối cảnh Phòng ngủ Master dự án Vinhomes West Point</div></div></figcaption></figure>
                                                        </div>
                                                    </div><div class="jet-carousel__item slick-slide slick-cloned" data-slick-index="7" aria-hidden="true" tabindex="-1" style="width: 440px;">
                                                        <div class="jet-carousel__item-inner">
                                                            <figure class="jet-banner jet-effect-sadie"><div class="jet-banner__overlay"></div><img src="~/Content/Vin/NGU-MASTER-DL1_preview.jpeg" alt="" class="jet-banner__img"><figcaption class="jet-banner__content"><div class="jet-banner__content-wrap"><h5 class="jet-banner__title">Phòng ngủ Master DL1</h5><div class="jet-banner__text">Phối cảnh Phòng ngủ Master DL1 dự án Vinhomes West Point</div></div></figcaption></figure>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <i class="fa fa-chevron-right next-arrow jet-arrow slick-arrow" style="display: flex;"></i><ul class="jet-slick-dots" role="tablist" style="display: flex;"><li class="slick-active" role="presentation"><span>1</span></li><li role="presentation" class=""><span>2</span></li><li role="presentation" class=""><span>3</span></li><li role="presentation" class=""><span>4</span></li></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
