﻿@{
    ViewBag.Title = "Home Page";
}
@*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">*@
<section data-id="1a12016b" class="elementor-element elementor-element-1a12016b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section jet-parallax-section" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div data-id="58b46171" class="elementor-element elementor-element-58b46171 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div data-id="57d15ce1" class="elementor-element elementor-element-57d15ce1 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-text-editor elementor-clearfix"><p><strong><a href="https://ibatdongsan.co/vincity-athena-gia-lam-19235.html">Vincity Athena Gia Lâm</a></strong> là 1 siêu phẩm bất động sản đang thu hút được sự quan tâm đặc biệt của khách hàng cũng như những nhà đầu tư bởi quy mô của dự án và hệ thống tiện ích có một không hai trong khu vực, Chung cư VinCity Gia Lâm sẽ trở thành nơi an cư lý tưởng cho khách hàng hưởng trọn giá trị thăng hoa của cuộc sống hiện đại.</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section data-id="2d102e98" class="elementor-element elementor-element-2d102e98 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section jet-parallax-section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div data-id="76ad601c" class="elementor-element elementor-element-76ad601c elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <section data-id="3b3bdd41" class="elementor-element elementor-element-3b3bdd41 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section jet-parallax-section" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div data-id="dea67da" class="elementor-element elementor-element-dea67da elementor-column elementor-col-50 elementor-inner-column" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div data-id="68feb9c4" class="elementor-element elementor-element-68feb9c4 animated elementor-widget elementor-widget-heading fadeInLeft" data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;}" data-element_type="heading.default">
                                                    <div class="elementor-widget-container">
                                                        <h2 class="elementor-heading-title elementor-size-default">Tổng quan dự án</h2>
                                                    </div>
                                                </div>
                                                <div data-id="3a300675" class="elementor-element elementor-element-3a300675 animated elementor-widget elementor-widget-divider fadeInLeft" data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;}" data-element_type="divider.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-divider">
                                                            <span class="elementor-divider-separator"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-id="77661689" class="elementor-element elementor-element-77661689 elementor-align-left animated animated-slow elementor-widget elementor-widget-icon-list fadeInLeft" data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;}" data-element_type="icon-list.default">
                                                    <div class="elementor-widget-container">
                                                        <ul class="elementor-icon-list-items">
                                                            <li class="elementor-icon-list-item">
                                                                <span class="elementor-icon-list-icon">
                                                                    <i class="fa fa-home" aria-hidden="true"></i>
                                                                </span>
                                                                <span class="elementor-icon-list-text">Tên dự án: Vincity Athena Gia Lâm</span>
                                                            </li>
                                                            <li class="elementor-icon-list-item">
                                                                <span class="elementor-icon-list-icon">
                                                                    <i class="fa fa-home" aria-hidden="true"></i>
                                                                </span>
                                                                <span class="elementor-icon-list-text">Chủ đầu tư: Tập đoàn Vingroup</span>
                                                            </li>
                                                            <li class="elementor-icon-list-item">
                                                                <span class="elementor-icon-list-icon">
                                                                    <i class="fa fa-home" aria-hidden="true"></i>
                                                                </span>
                                                                <span class="elementor-icon-list-text">Quy mô dự án: 300ha</span>
                                                            </li>
                                                            <li class="elementor-icon-list-item">
                                                                <span class="elementor-icon-list-icon">
                                                                    <i class="fa fa-home" aria-hidden="true"></i>
                                                                </span>
                                                                <span class="elementor-icon-list-text">Chiều cao trung bình mỗi tòa nhà: 22 – 25 tầng.</span>
                                                            </li>
                                                            <li class="elementor-icon-list-item">
                                                                <span class="elementor-icon-list-icon">
                                                                    <i class="fa fa-home" aria-hidden="true"></i>
                                                                </span>
                                                                <span class="elementor-icon-list-text">Diện tích thiết kế mỗi căn hộ: 35 – 90m2.</span>
                                                            </li>
                                                            <li class="elementor-icon-list-item">
                                                                <span class="elementor-icon-list-icon">
                                                                    <i class="fa fa-home" aria-hidden="true"></i>
                                                                </span>
                                                                <span class="elementor-icon-list-text">Vị trí quy hoạch xây dựng dự án: Trung tâm huyện Gia Lâm</span>
                                                            </li>
                                                            <li class="elementor-icon-list-item">
                                                                <span class="elementor-icon-list-icon">
                                                                    <i class="fa fa-home" aria-hidden="true"></i>
                                                                </span>
                                                                <span class="elementor-icon-list-text">Sản phẩm dự án: Căn hộ chung cư, nhà phố thương mại, trung tâm thương mại và các tiện ích dịch vụ khác.</span>
                                                            </li>
                                                            <li class="elementor-icon-list-item">
                                                                <span class="elementor-icon-list-icon">
                                                                    <i class="fa fa-home" aria-hidden="true"></i>
                                                                </span>
                                                                <span class="elementor-icon-list-text">Ngày khởi công dự án: Dự kiến giữ năm 2018.</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div data-id="261397ad" class="elementor-element elementor-element-261397ad animated elementor-widget elementor-widget-uael-modal-popup fadeInUp" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;}" data-element_type="uael-modal-popup.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="uael-modal-action-wrap">
                                                            <div class="uael-button-wrapper elementor-button-wrapper elementor-align-center elementor-tablet-align- elementor-mobile-align-center">
                                                                <a href="javascript:void(0);" class="uael-trigger elementor-button-link elementor-button elementor-clickable elementor-size-md elementor-animation-sink" data-modal="261397ad">
                                                                    <span class="elementor-button-content-wrapper">
                                                                        <span class="elementor-align-icon-left elementor-button-icon">
                                                                            <i class="fa fa-download" aria-hidden="true"></i>
                                                                        </span>
                                                                        <span class="elementor-button-text elementor-inline-editing" data-elementor-setting-key="btn_text" data-elementor-inline-editing-toolbar="none">Tải trọn bộ tài liệu dự án</span>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-id="6e2a86d" class="elementor-element elementor-element-6e2a86d elementor-column elementor-col-50 elementor-inner-column" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div data-id="68520b82" class="elementor-element elementor-element-68520b82 animated animated-slow elementor-widget elementor-widget-image fadeInRight" data-settings="{&quot;_animation&quot;:&quot;fadeInRight&quot;}" data-element_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-image">
                                                            <figure class="wp-caption">
                                                                <img width="900" height="600" src="~/Content/Vin/vincity-athena-gia-lam.jpg" class="attachment-full size-full" alt="Vincity Athena Gia Lâm" srcset="https://ibatdongsan.co/wp-content/uploads/2018/06/vincity-athena-gia-lam.jpg 900w, https://ibatdongsan.co/wp-content/uploads/2018/06/vincity-athena-gia-lam-300x200.jpg 300w, https://ibatdongsan.co/wp-content/uploads/2018/06/vincity-athena-gia-lam-768x512.jpg 768w" sizes="(max-width: 900px) 100vw, 900px"> <figcaption class="widget-image-caption wp-caption-text">Không gian sống trong lành của Vincity Gia Lâm (Hình ảnh minh hoạ)</figcaption>
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@Html.Partial("_PartialAbout")
@Html.Partial("_PartialProject")
@Html.Partial("_PartialNew")