﻿@using VinCity.Models.Entities;
@model Article
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section data-id="1a12016b" class="elementor-element elementor-element-1a12016b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section jet-parallax-section" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div data-id="58b46171" class="elementor-element elementor-element-58b46171 elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div data-id="57d15ce1" class="elementor-element elementor-element-57d15ce1 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-text-editor elementor-clearfix">
                                    <p>
                                        <strong>
                                            <a href="#">@Model.Title</a>
                                        </strong>@Html.Raw(Model.Description)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
